<%- include("partials/header") -%>


<h1><b>Compose</b></h1>


<form action="/compose" method ="post">

<div class=form-group>
<label>Title</label>
<input class= "form-control" type="text" name="post">
<label>Post</label>
<textarea class="form-control" rows = "5", cols = "50" name= "data"></textarea>
</div>
<button class="btn btn-primary " type= "submit">publish</button>

</form>


<%- include("partials/footer") -%>